html,
body {
  font-family: 'Noto Serif KR', serif !important;
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.divider {
  width: '100%';
  height: 1.5px;
  background-color: rgb(196, 192, 192);
  border-radius: 0 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.snackbar_success div {
  background-color: rgb(73, 233, 73) !important;
}

.snackbar_error div {
  background-color: rgb(223, 69, 69) !important;
}

.customDatePicker {
  width: 150px;
  height: 52px;
  margin-top: 5px;
  padding: 8px 15px;
  border-radius: 3px;
  border: 1px solid black;
}
